# Bidtech Construction & Industrial Template 2
NEXT_PUBLIC_APP_NAME="JAYA WIJAYA GROUP"
NEXT_PUBLIC_APP_TAGLINE="Infrastruktur Modern dengan Armada Tangguh"
NEXT_PUBLIC_HOTLINE="021-555-8742"
NEXT_PUBLIC_CALL_CENTER="16550"
NEXT_PUBLIC_WHATSAPP="6281234567890"
NEXT_PUBLIC_EMAIL="tender@jayawijayagroup.co.id"
