@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #345bd6;
  --primary-dark: #2445b5;

  --background: #fafbff;
  --foreground: #151922;

  --text-secondary: #687083;

  --border: #e5e9f3;

  --radius-card: 28px;
}


html {
  scroll-behavior: smooth;
}


body {
  background: var(--background);
  color: var(--foreground);

  font-family:
    var(--font-sans),
    sans-serif;

  overflow-x: clip;

  -webkit-font-smoothing: antialiased;
}


.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}


::selection {
  background: rgba(52,91,214,.18);
}